@tailwind base;
@tailwind components;

@font-face {
  font-family: 'body-regular';
  src: url('../assets/fonts/averta-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'body-bold';
  src: url('../assets/fonts/averta-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'head-black';
  src: url('../assets/fonts/head-black.woff') format('woff');
}

@font-face {
  font-family: 'head-light';
  src: url('../assets/fonts/head-light.woff') format('woff');
}

@font-face {
  font-family: 'head-medium';
  src: url('../assets/fonts/head-medium.woff') format('woff');
}

* {
  font-family: 'body-regular';
}

.sidebar-icon{
  border-radius: 50px;
background: #ecedee;
box-shadow:  11px 11px 11px #e0e1e2,
             -11px -11px 11px #f8f9fa;

}

/* border-radius: 50px;
background: #e0e0e0;
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff; */
@tailwind utilities;
